@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap");

body {
  font-family: "Gemunu Libre", sans-serif;

  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.center-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}
.center {
  text-align: center;
}
.center-main button {
  padding: 2rem;
  margin: 2rem;
}
hr {
  /* display: none; */
  width: 600px;
  margin: 0.7rem;
}
main {
  width: 650px;
  margin: auto;
}
button {
  font-family: "Gemunu Libre", sans-serif;
  margin: 8px;
  background-color: white;
  border-radius: 0.3rem;
  padding: 6px;
  cursor: pointer;
  font-size: 1.2rem;
}
button:hover {
  transition: 1s;
  background-color: rgb(225, 225, 225);
  box-shadow: 2px 2px 13px 0px white;
}
/* main-buttons */
.main-button {
  box-shadow: 2px 2px 13px 0px;
}

/* sub-buttons */
/* input */
input[type="Number"] {
  width: 250px;
  height: 30px;
  margin: 6px;
}
/* label */
/* message */
#message {
  color: white;
  font-size: 20px;
}
#btn-submit-quiz {
  position: relative;
  left: 20px;
  padding: 8px;
}
/* footer */
footer {
  color: white;
  margin-top: 300px;
  padding: 5px;
  text-align: center;
}
#links a {
  margin: 10px;
  padding: 6px;
  color: white;
  margin-top: 40px;
  text-align: center;
}
.quiz {
  color: white;
}
.center label {
  color: white;
}
